<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a href ="/users/<%= current_user.id %>" class="nav-link text-light"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a href="/users" class="nav-link text-light"><i class="fas fa-users"></i> Users</a>
              </li>
              <li class="nav-item">
                <a href="/books" class="nav-link text-light"><i class="fas fa-book-open"></i> Books</a>
              </li>
              <li class= "nav-item">
                <a href ="/users/sign_out" class="nav-link text-light" data-method="delete"><i class="fas fa-sign-out-alt"></i> Log out</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a href ="/" class="nav-link text-light"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a href ="/home/about" class="nav-link text-light"><i class="fas fa-link"></i> About</a>
              </li>
              <li class= "nav-item">
                <a href ="/users/sign_up" class="nav-link text-light"><i class="fas fa-user-plus"></i> Sign up</a>
              </li>
              <li class= "nav-item">
                <a href ="/users/sign_in" class="nav-link text-light"><i class="fas fa-sign-in-alt"></i> Log in</a>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="cntainer mt-5">
        <div class="row nogutters">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
